/* Overall */
window {
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    /* text-shadow: 0 0 3px #000000; */
}
button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
button:active {
    color: black;
}
button:hover {
    background-color: rgba(255,255,255,0.2);
}
label {
    font-weight: bold;
}
levelbar block,
highlight {
    min-height: 10px;
}


/* Workspaces */
.workspaces button.focused {
    background-color: rgba(255,255,255,0.2);
}

/* App title */
.client-title {
    color: white;
    text-shadow: 0 0 3px #000055;
    font-family: monospace;
}

/* Media Player */
.media-button{ 
    border: none;
    background-color: transparent;
}

/* Power Menu */
.power-button-icon {
    color: rgb(255, 30, 0);
}
.power-menu-button{
    min-width: 100px;
    min-height: 100px;
}
.power-menu-button:hover{
    min-width: 150px;
    min-height: 150px;
}
.power-menu-icon{
    font-size: 38px;
}
.power-menu-button:hover .power-menu-icon {
    font-size: 60px;
    color: red;
}
.power-menu-window{
    background-color: rgba(0, 0, 0, 0.2);
}

/* App Launcher */
.app-entry{
    background-color: rgba(255, 255, 255, 0.11);
}
.app-launcher-box{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 10px;
}
.app-title{
    text-shadow: 0 0 3px black;
    font-family: monospace;
}

window.notification-popups box.notifications {
    padding: .5em;
}


/* Notifications */
.notificaion-icon-box {
    /* min-width: 68px;
    min-height: 68px; */
    /* border-radius: 7px; */
    /* padding-right: 39px; */
    background-color: red;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

