/* Overall */
window {
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    /* text-shadow: 0 0 3px #000000; */
}
button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
button:active {
    color: black;
}
button:hover {
    background-color: rgba(255,255,255,0.2);
}
label {
    font-weight: bold;
}
levelbar block,
highlight {
    min-height: 10px;
}



/* Workspaces */
.workspaces button.focused {
    background-color: rgba(255,255,255,0.2);
}

/* App title */
.client-title {
    color: white;
    text-shadow: 0 0 3px #000055;
    font-family: monospace;
}

/* Media Player */
.media-button{ 
    border: none;
    background-color: transparent;
}

/* Power Menu */
.power-button-icon {
    color: rgb(255, 30, 0);
}
.power-menu-button{
    min-width: 100px;
    min-height: 100px;
}
.power-menu-button:hover{
    min-width: 150px;
    min-height: 150px;
}
.power-menu-icon{
    font-size: 38px;
    transition: font-size 0.5s;
    transition: color 0.5s;

}
.power-menu-button:hover .power-menu-icon {
    font-size: 60px;
    color: red;
}
.power-menu-window{
    background-color: rgba(0, 0, 0, 0.2);
}

/* App Launcher */
.app-entry{
    background-color: rgba(255, 255, 255, 0.11);
}
.app-launcher-box{
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 10px;
}
.app-title{
    text-shadow: 0 0 3px black;
    font-family: monospace;
}


/* Notifications */
window.notification-popups box.notifications {
    padding: .5em;
}

.notification-icon-box {
    margin-right: 4px;
}

.content {
    padding: 7px 7px 10px 0px;

}

.notification-title {
    color: white;
    font-size: 2em;
    text-shadow: 0 0 3px black;
}

.close-button {
    color: pink;

}

.notification {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.11);
}

.notification.critical {
    border: 1px solid lightcoral;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}


/* quicktools */
.idle-inhibitor-on {
    color: red;
}

.quick-tools-menu-icon {
    font-size: 38px;
    transition: font-size 0.2s;
}

.quick-tools-menu-button{
    min-width: 100px;
}

.quick-tools-menu-button:hover .quick-tools-menu-icon {
    font-size: 90px;
}
