workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "10"
include optional=true "modules/appearance.kdl"
include optional=true "modules/binds.kdl"
include optional=true "modules/execs.kdl"
include optional=true "modules/general.kdl"
include optional=true "modules/monitors.kdl"
include optional=true "modules/rules.kdl"
