binds {
    Mod+Slash {
        show-hotkey-overlay
    }
    // Terminal
    Mod+Q hotkey-overlay-title="Open a Terminal: alacritty" {
        spawn "alacritty"
    }
    // App launcher
    Mod+Space repeat=false hotkey-overlay-title="Application Launcher" {
        spawn "quickshell" "ipc" "call" "launcher" "toggle"
    }
    Mod+Shift+Space repeat=false hotkey-overlay-title="Application Launcher: Fuzzel" {
        spawn "fuzzel"
    }
    /////////////////////////////////////
    // Volume:
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.5" limits the volume to 150%.
    ////////////////////////////////////
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ -l 1.5"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    Mod+Ctrl+3 allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ -l 1.5"
    }
    Mod+Ctrl+2 allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-"
    }
    Mod+Ctrl+1 allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    Mod+Ctrl+4 allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    ////////////////////////////////////
    // Media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    ////////////////////////////////////
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }
    XF86AudioStop allow-when-locked=true {
        spawn-sh "playerctl stop"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next"
    }
    ////////////////////////////////////
    // Brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    ////////////////////////////////////
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
    ////////////////////////////////////
    // Overview: a zoomed-out view of workspaces and windows.
    // Can also do a four-finger swipe up on a touchpad
    ////////////////////////////////////
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+C repeat=false {
        close-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Alt+J {
        consume-or-expel-window-left
    }
    Mod+Alt+K {
        consume-or-expel-window-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-down
    }
    Mod+Shift+K {
        move-window-up
    }
    Mod+Shift+L {
        move-column-right
    }
    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    // Mod+Home { focus-column-first; }
    // Mod+End  { focus-column-last; }
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }
    Mod+Ctrl+Alt+H {
        focus-monitor-left
    }
    Mod+Ctrl+Alt+J {
        focus-monitor-down
    }
    Mod+Ctrl+Alt+K {
        focus-monitor-up
    }
    Mod+Ctrl+Alt+L {
        focus-monitor-right
    }
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...
    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...
    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }
    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...
    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }
    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    // Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    // Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+Ctrl+Shift+WheelScrollDown {
        move-column-right
    }
    Mod+Ctrl+Shift+WheelScrollUp {
        move-column-left
    }
    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 {
        focus-workspace "1"
    }
    Mod+2 {
        focus-workspace "2"
    }
    Mod+3 {
        focus-workspace "3"
    }
    Mod+4 {
        focus-workspace "4"
    }
    Mod+5 {
        focus-workspace "5"
    }
    Mod+6 {
        focus-workspace "6"
    }
    Mod+7 {
        focus-workspace "7"
    }
    Mod+8 {
        focus-workspace "8"
    }
    Mod+9 {
        focus-workspace "9"
    }
    Mod+0 {
        focus-workspace "10"
    }
    Mod+Shift+1 {
        move-window-to-workspace "1" focus=false
    }
    Mod+Shift+2 {
        move-window-to-workspace "2" focus=false
    }
    Mod+Shift+3 {
        move-window-to-workspace "3" focus=false
    }
    Mod+Shift+4 {
        move-window-to-workspace "4" focus=false
    }
    Mod+Shift+5 {
        move-window-to-workspace "5" focus=false
    }
    Mod+Shift+6 {
        move-window-to-workspace "6" focus=false
    }
    Mod+Shift+7 {
        move-window-to-workspace "7" focus=false
    }
    Mod+Shift+8 {
        move-window-to-workspace "8" focus=false
    }
    Mod+Shift+9 {
        move-window-to-workspace "9" focus=false
    }
    Mod+Shift+0 {
        move-window-to-workspace "10" focus=false
    }
    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }
    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }
    // // Consume one window from the right to the bottom of the focused column.
    // Mod+Comma  { consume-window-into-column; }
    // // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }
    ////////////////////////////////////
    // Resizing
    ////////////////////////////////////
    // Cycle through widths set in preset-column-widths.
    Mod+R {
        switch-preset-column-width
    }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+R {
        switch-preset-column-width-back
    }
    Mod+Ctrl+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }
    Mod+D {
        maximize-column
    }
    Mod+F {
        fullscreen-window
    }
    Mod+Ctrl+C {
        center-column
    }
    Mod+Ctrl+H {
        set-column-width "-6.66667%"
    }
    Mod+Ctrl+L {
        set-column-width "+6.66667%"
    }
    Mod+Ctrl+K {
        set-window-height "-25%"
    }
    Mod+Ctrl+J {
        set-window-height "+25%"
    }
    // Move the focused window between the floating and the tiling layout.
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    // // Toggle tabbed column display mode.
    // // Windows in this column will appear as vertical tabs,
    // // rather than stacked on top of each other.
    // Mod+W {
    //     toggle-column-tabbed-display
    // }
    Mod+Ctrl+P {
        screenshot
    }
    Mod+P {
        screenshot-screen
    }
    Mod+Alt+P {
        screenshot-window
    }

    Mod+Ctrl+Shift+C {
     spawn-sh "~/.local/bin/colorpicker.py"
    }
    Mod+Shift+A {
     spawn-sh "~/.local/bin/change_audio_source_wpctl.sh"
    }

 // // Applications such as remote-desktop clients and software KVM switches may
    // // request that niri stops processing the keyboard shortcuts defined here
    // // so they may, for example, forward the key presses as-is to a remote machine.
    // // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // // so a buggy application can't hold your session hostage.
    // //
    // // The allow-inhibiting=false property can be applied to other binds as well,
    // // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape allow-inhibiting=false {
    //     toggle-keyboard-shortcuts-inhibit
    // }
    // The quit action will show a confirmation dialog to avoid accidental exits.
}
